:root {
    --primary-color: #735DA5;
    --secondary-color: #D3C5E5;
    --primary-actice-color: #5b37ae;
    --border-rad : 8px;
    /* --accent-color: #e74c3c; */
    /* --background-color: #f4f4f4;
    --text-color: #333; */
}
